adafruit-ampy==1.0.7
Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==1.0.4
astroid==2.4.1
Click==7.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.5.2
pyserial==3.4
python-dotenv==0.11.0
pyudev==0.22.0
rshell==0.0.26
six==1.14.0
toml==0.10.0
wrapt==1.12.1
